COLLECTION_URI_PREFIX=ipfs://__CID___/

NETWORK_TESTNET_URL=https://rinkeby.infura.io/v3/abc123abc123abc123abc123abc123ab
# !!! WARNING !!!
# Please manage your .env files carefully when using them to store your private keys.
# People getting access to you private keys will be able to control your wallet forever.
# Remember you can use the CLI commands even without setting the private keys here, please
# check out the GitHub repo for more information.
NETWORK_TESTNET_PRIVATE_KEY=0xabc123abc123abc123abc123abc123abc123abc123abc123abc123abc123abc1

NETWORK_MAINNET_URL=https://mainnet.infura.io/v3/abc123abc123abc123abc123abc123ab
# !!! WARNING !!!
# Please manage your .env files carefully when using them to store your private keys.
# People getting access to you private keys will be able to control your wallet forever.
# Remember you can use the CLI commands even without setting the private keys here, please
# check out the GitHub repo for more information.
NETWORK_MAINNET_PRIVATE_KEY=0xabc123abc123abc123abc123abc123abc123abc123abc123abc123abc123abc1

GAS_REPORTER_COIN_MARKET_CAP_API_KEY=00000000-0000-0000-0000-000000000000

BLOCK_EXPLORER_API_KEY=ABC123ABC123ABC123ABC123ABC123ABC1